[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 150px;
  width: 50px;
  max-height: 100vh;
}


